@font-face {
  font-family: 'Fontquan-XinYilogoTi';
  src: url('./Fontquan-XinYiGuanHeiTi_Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Mulish';
  src: url('./Mulish-Regular.ttf') format('truetype');
}
.desktop-4-child {
  position: absolute;
  height: 325.23%;
  width: 154.93%;
  top: 0;
  right: -54.93%;
  bottom: -225.23%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.desktop-4-item {
  position: absolute;
  height: 136.74%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: -36.74%;
  left: 0;
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    linear-gradient(262.75deg, rgba(43, 177, 212, 0.2), rgba(82, 117, 254, 0.2));
}
.coin-icon1 {
  position: relative;
  width: 3.13rem;
  height: 3.13rem;
  object-fit: cover;
}
.bitcoin-container,
.coin-icon-group {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.bitcoin-container {
  border-radius: var(--br-9xs);
  background-color: var(--color-gainsboro);
  padding: var(--padding-9xs) var(--padding-7xs);
  justify-content: center;
  text-align: center;
  font-size: var(--font-size-3xs);
  color: #1d1429;
}
.coin-icon-group {
  overflow: hidden;
  justify-content: flex-start;
  gap: var(--gap-sm);
}
.see-more-ic-inner {
  position: absolute;
  top: 0.44rem;
  left: 0.44rem;
  border-radius: var(--br-xl);
  background: linear-gradient(180deg, #5275fe, #2bb1d4);
  width: 2.13rem;
  height: 2.13rem;
}
.vector-icon {
  position: absolute;
  top: 0.94rem;
  left: 1.02rem;
  border-radius: var(--br-11xs);
  width: 1.01rem;
  height: 1.01rem;
}
.see-more-ic1 {
  position: relative;
  width: 3rem;
  height: 3rem;
  overflow: hidden;
  flex-shrink: 0;
}
.coin-info1 {
  width: 15.88rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.divider1 {
  position: relative;
  background-color: var(--color-black);
  width: 16.13rem;
  height: 0.06rem;
  opacity: 0.05;
}
.b,
.div2 {
  align-self: stretch;
  position: relative;
}
.div2 {
  font-size: var(--subtitle-subtitle-1-medium-size);
  line-height: 160%;
  font-weight: 500;
  color: var(--color-mediumseagreen);
}
.group {
  width: 8.75rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-4xs);
}
.chart-state-1-icon1 {
  position: relative;
  width: 6.25rem;
  height: 3.33rem;
  object-fit: cover;
}
.coin-value1 {
  width: 15.75rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: var(--font-size-5xl);
}
.coin-trend-item1 {
  align-self: stretch;
  flex: 1;
  border-radius: var(--br-lg);
  background-color: var(--color-gray-100);
  border: 1px solid var(--color-gray-200);
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-lg) var(--padding-xl) var(--padding-lg)
    var(--padding-lgi);
  gap: var(--gap-mid);
}
.bitcoin-frame,
.coin-trend-item1,
.coin-trend-item4 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.bitcoin-frame {
  border-radius: var(--br-9xs);
  background-color: var(--color-gainsboro);
  flex-direction: row;
  padding: var(--padding-9xs) var(--padding-7xs);
  text-align: center;
  font-size: var(--font-size-3xs);
}
.coin-trend-item4 {
  flex: 1;
  border-radius: var(--br-lg);
  background-color: var(--color-gray-100);
  border: 1px solid var(--color-gray-200);
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-lg) var(--padding-xl) var(--padding-lg)
    var(--padding-lgi);
  gap: var(--gap-mid);
}
.market-trend,
.market-trend-content {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.market-trend-content {
  align-self: stretch;
  flex-direction: row;
  gap: 1.5rem;
}
.market-trend {
  position: absolute;
  height: 12.16%;
  width: 91.11%;
  top: 44.27%;
  right: 4.44%;
  bottom: 43.56%;
  left: 4.44%;
  flex-direction: column;
}
.group-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-gray-100);
}
.our-community-is {
  height: 36.72%;
  width: 27.53%;
  top: 27.34%;
  left: 0.3%;
  font-size: 0.88rem;
  display: inline-block;
}
.copyright-eascor,
.our-community-is,
.swap {
  cursor: pointer;
  position: absolute;
  font-weight: 300;
}
.copyright-eascor {
  top: 94.14%;
  left: 0.3%;
  font-size: 0.75rem;
}
.swap {
  top: 27.67%;
  left: 0;
}
.audit-by-ib,
.farms,
.nft,
.pool,
.services {
  cursor: pointer;
  position: absolute;
  top: 43.48%;
  left: 0;
  font-weight: 300;
}
.audit-by-ib,
.farms,
.pool,
.services {
  top: 59.29%;
}
.audit-by-ib,
.farms,
.services {
  top: 75.1%;
}
.audit-by-ib,
.services {
  top: 90.91%;
}
.services {
  top: 0;
  font-size: var(--font-size-5xl);
  font-weight: 600;
}
.swap-parent {
  position: absolute;
  height: 98.83%;
  width: 7.15%;
  top: 0;
  right: 44.56%;
  bottom: 1.17%;
  left: 48.29%;
}
.about-us,
.customer-support,
.eascordao,
.faq {
  cursor: pointer;
  position: absolute;
  top: 32.86%;
  left: 1.32%;
  font-weight: 300;
}
.customer-support,
.eascordao,
.faq {
  top: 51.64%;
}
.eascordao,
.faq {
  top: 70.42%;
}
.faq {
  top: 89.2%;
}
.about-us-parent {
  position: absolute;
  height: 83.2%;
  width: 11.56%;
  top: 0;
  right: 19.62%;
  bottom: 16.8%;
  left: 68.82%;
}
.terms-of-use {
  cursor: pointer;
  position: absolute;
  top: 32.86%;
  left: 0;
  font-weight: 300;
}
.privacy-policy,
.security,
.trademark-policy {
  cursor: pointer;
  position: absolute;
  top: 51.64%;
  left: 0;
  font-weight: 300;
}
.security,
.trademark-policy {
  top: 70.42%;
}
.security {
  top: 89.2%;
}
.terms-of-use-parent {
  position: absolute;
  height: 83.2%;
  width: 10.72%;
  top: 0;
  right: 0;
  bottom: 16.8%;
  left: 89.28%;
}
.discord-icon,
.telegram-app-icon,
.twitter-icon {
  position: absolute;
  height: 14.45%;
  width: 2.81%;
  top: 71.09%;
  right: 97.19%;
  bottom: 14.45%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.discord-icon,
.telegram-app-icon {
  width: 2.74%;
  right: 92.47%;
  left: 4.79%;
}
.telegram-app-icon {
  width: 2.81%;
  right: 87.68%;
  left: 9.51%;
}
.our-community-is-building-a-co-parent {
  position: absolute;
  height: 52.14%;
  width: 91.32%;
  top: 23.63%;
  right: 4.44%;
  bottom: 24.24%;
  left: 4.24%;
}
.group-1000002766-1-1,
.icon {
  position: absolute;
  height: 11.61%;
  width: 13.13%;
  top: 22%;
  right: 83.4%;
  bottom: 66.4%;
  left: 3.47%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.icon {
  height: 9.37%;
  width: 3.13%;
  top: 23.22%;
  right: 93.06%;
  bottom: 67.41%;
  left: 3.82%;
}
.brand{
    position: relative;
    top:22%;
    left: 3.7%;
}
.group-item,
.rectangle-parent {
  position: absolute;
  height: 31.6%;
  width: 100%;
  top: 68.4%;
  right: 0;
  bottom: 0;
  left: 0;
}
.group-item {
  top:100%;
  height: 100%;
  left: 100%;
  border-radius: var(--br-xs);
  background-color: var(--color-gray-100);
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.div6,
.frame-child {
  position: relative;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}
input[type="number"] {
    -moz-appearance: textfield; /* Firefox */
}
.numberinput{
    background:transparent;
    border: none;
    outline: none;
}
.frame-child {
  width: 2rem;
  height:2rem;
}
.parent3 {
  width: 20.25rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.frame-wrapper {
  position: absolute;
  height: 14.49%;
  width: 42.43%;
  top: 32.02%;
  right: 31.01%;
  bottom: 53.49%;
  left: 26.56%;
  border-radius: var(--br-xs);
  background-color: var(--color-skyblue-100);
  border: 2px solid var(--color-white);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: var(--padding-5xs) var(--padding-base);
  align-items: flex-end;
  justify-content: center;
  font-family: var(--font-poppins);
}
.parent4 {
  width: 20.13rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.frame-container {
  height: 14.49%;
  width: 42.43%;
  top: 56.94%;
  right: 31.01%;
  bottom: 28.57%;
  left: 26.56%;
  border-radius: var(--br-xs);
  background-color: var(--color-skyblue-100);
  border: 2px solid var(--color-white);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: var(--padding-5xs) var(--padding-base);
  align-items: flex-end;
  justify-content: center;
  font-family: var(--font-poppins);
}
.exchange,
.frame-container,
.pay {
  position: absolute;
}
.pay {
  height: 6.95%;
  width: 4.13%;
  top: 48.83%;
  left: 26.56%;
  font-size: var(--font-size-base);
  font-weight: 600;
  color: var(--color-darkslategray);
  display: inline-block;
}
.exchange {
  top: 8.62%;
  left: 26.58%;
}
.span {
  color: var(--color-darkslategray);
}
.btc6 {
  color: var(--color-royalblue);
}

.remix-iconslinesystemarrow-1 {
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.usdt {
  position: relative;
  font-weight: 600;
}
.btc-parent {
  position: absolute;
  height: 8.69%;
  width: 42.29%;
  top: 18.47%;
  right: 31.01%;
  bottom: 72.83%;
  left: 26.7%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.refresh_icon {
  position: absolute;
  height: 4.5%;
  width: 2%;
  top: 6.66%;
  right: 3.02%;
  bottom: 86.38%;
  left: 93.68%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  border: none;
  cursor: pointer;
  appearance: none;
}
.group-inner {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-xs);
  background: linear-gradient(108.49deg, #2bb1d4, #6e41d4);
}
.exchange1 {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    left: 0%;
    display: inline-block;
    border: none;
    background:none;
    margin:0;
    outline: none;
    font-family: 'Mulish';
    font-style: normal;
    font-size: 1.3rem;
    text-align: center;
    cursor: pointer;
    color: #FFFFFF;


}
.group-wrapper,
.rectangle-container {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.group-wrapper {
  height: 14.49%;
  width: 42.43%;
  top: 78.82%;
  right: 31.01%;
  bottom: 6.69%;
  left: 26.56%;
  text-align: center;
  font-size: 1.38rem;
  color: var(--color-white);
}
.group-child1 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-5xs);
  background: linear-gradient(250.35deg, #6e41d4, #2bb1d4);
}
.group-div {
  position: absolute;
  height: 9.36%;
  width: 14.99%;
  top: 7.14%;
  right: 82.08%;
  bottom: 83.5%;
  left: 2.93%;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-white);
}
.group-child2 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-5xs);
  background: linear-gradient(
    250.35deg,
    rgba(110, 65, 212, 0.2),
    rgba(43, 177, 212, 0.2)
  );
}
.swap1,
.liquidity {
  border:none;
  background:none;
  position: absolute;
  width: 84.38%;
  top: 21.05%;
  left: 6.25%;
  text-align: center;
  font-size: var(--font-size-base);
  color: #2bb1d4;
  font-family: 'Mulish';
  font-weight: 800;
  display: inline-block;
  cursor: pointer;
}
.swap1{
  color:white;
}
.rectangle-parent1 {
  position: absolute;
  height: 9.36%;
  width: 14.99%;
  top: 21.18%;
  right: 82.08%;
  bottom: 69.46%;
  left: 2.93%;
  text-align: center;
  font-size: var(--font-size-base);
  color: #2bb1d4;
}
.rectangle-group {
  position: absolute;
  height: 26.13%;
  width: 59.31%;
  top: 12.48%;
  right: 20.56%;
  bottom: 61.39%;
  left: 20.14%;
  font-size: var(--font-size-xl);
}
.group-1000002766-1-11 {
    position: absolute;
    top:0%;
    left: 0.1%;
}
.nft_top,
  .swap_top {
    /* SWAP */

    box-sizing: border-box;

    position: absolute;
    top:65%;
    left: 16%;
  

    font-family: 'Fontquan-XinYilogoTi';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    background:none;
    border:none;
    margin:0;
    padding:0;
    /* identical to box height */
    text-align: center;
    cursor: pointer;
    color: #000000;


  }
  .nft_top {
    left: 23%;
  }
.group-child25,
.rectangle-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 397px;
  height: 38px;
}
.group-child25 {
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}
.rectangle-container {
    box-shadow: 0 2px 10px rgba(255, 255, 255, 0.05);
}
.search-icon {
  position: absolute;
  top: 25%;
  left: 2.5%;
  width: 1.13rem;
  height: 1.13rem;
  overflow: hidden;
  opacity: 0.4;
}
#searchbox {
  position: absolute;
  top: 20%;
  left: 10%;
  background-color: transparent;
  width: 345px;
  border: none;
  outline: none;
}

#searchbox::placeholder {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  opacity: 0.4;
}
input[type="search"] {
  color: #000000;
  opacity: 1;
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}
.group-parent {
  position: absolute;
  top: 2.13rem;
  left: 32.56rem;
  width: 24.81rem;
  height: 2.38rem;
  font-size: var(--font-size-base);
}
.group-container {
    position: relative;
    top: 50%;
    left: 32%;
    width: 397px;
    height: 38px;
    font-size: var(--font-size-base);
  }
  .group-child26,
.connect-wallet {
    /* Rectangle 2971 */
    display: inline-block;
    position: absolute;
    bottom: -50%;
    left: 80%;
    width: 152px;
    height: 38px;
    box-shadow: 0 2px 10px rgba(255, 255, 255, 0.05);
    background: linear-gradient(262.75deg, #B06AFF 0%, #5275FE 100%);
    border-radius: 5px;

    font-family: 'Mulish';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    cursor:pointer;
  }
.rectangle-parent2 {
  position: absolute;
  height: 35.85%;
  width: 10.56%;
  top: 32.08%;
  right: 4.44%;
  bottom: 32.08%;
  left: 85%;
  font-size: var(--font-size-base);
  color: var(--color-white);
}
.discord-icon1,
.icon1,
.twitter-icon1 {
  position: absolute;
  top:50%;
  left:73%;
  background:none;
  border:none;
  margin:0;
  padding:0;
}
.twitter-icon1 {
  left: 68%;
}
.icon1 {
  left:0.4%;
  top:20%
}
.component-1 {
    position: absolute;
    left: 3.2%;
    height: 2%;
    bottom: 97%;
    width:100%;
    font-size: var(--font-size-base);
  }
.desktop-4 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 97.13rem;
  overflow: hidden;
  text-align: left;
  font-size: var(--subtitle-subtitle-1-medium-size);
  color: var(--color-black);
  font-family: 'Mulish';
}
