body {
    margin: 0;
    line-height: normal;
  }
  
  :root {
    /* fonts */
    --subtitle-subtitle-1-medium: Roboto;
    --font-raleway: Raleway;
    --font-mulish: Mulish;
    --font-poppins: Poppins;
  
    /* font sizes */
    --subtitle-subtitle-1-medium-size: 1.13rem;
    --font-size-5xl: 1.5rem;
    --font-size-3xs: 0.63rem;
    --font-size-base: 1rem;
    --font-size-xl: 1.25rem;
  
    /* Colors */
    --color-gray-100: rgba(255, 255, 255, 0.3);
    --color-gray-200: rgba(255, 255, 255, 0.05);
    --high-fidelity-color-card-background: rgba(255, 255, 255, 0.02);
    --font-color-light-subtitle: #b6b6b6;
    --font-color-light-title: #ecf1f0;
    --color-black: #000;
    --color-white: #fff;
    --color-skyblue-100: rgba(43, 177, 212, 0.05);
    --color-royalblue: #5275fe;
    --color-darkslategray: #43465c;
    --color-mediumseagreen: #23c998;
    --color-gainsboro: #d9d9d9;
  
    /* Gaps */
    --gap-mid: 1.06rem;
    --gap-4xs: 0.56rem;
    --gap-sm: 0.88rem;
  
    /* Paddings */
    --padding-lg: 1.13rem;
    --padding-xl: 1.25rem;
    --padding-lgi: 1.19rem;
    --padding-9xs: 0.25rem;
    --padding-7xs: 0.38rem;
    --padding-5xs: 0.5rem;
    --padding-base: 1rem;
  
    /* border radiuses */
    --br-lg: 18px;
    --br-11xs: 2px;
    --br-xl: 20px;
    --br-9xs: 4px;
    --br-5xs: 8px;
    --br-xs: 12px;
  }
  