<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" >
    <meta name="viewport" content="initial-scale=1, width=device-width" >
    <link rel="stylesheet" href="/stylesheets/global4.css" >
    <link rel="stylesheet" href="/stylesheets/desktop4.css">
    <script src="/javascripts/desktop4.js"></script>
    <title>desktop4</title>
  </head>
  <body>
    <div class="desktop-4">

      <div class="desktop-4-item"></div>
      <div class="market-trend">
        <div class="market-trend-content">
          <div class="coin-trend-item1">
            <div class="coin-info1">
              <div class="coin-icon-group">

                <div class="usdt">BTC</div>
                <div class="bitcoin-container">
                  <div class="usdt">BITCOIN</div>
                </div>
              </div>
              <div class="see-more-ic1">
                <div class="see-more-ic-inner"></div>
                <img class="vector-icon" alt="" src="./public/vector-31.svg" />
              </div>
            </div>
            <div class="divider1"></div>
            <div class="coin-value1">
              <div class="group">
                <b class="b">$56,623.54</b>
                <div class="div2">1.41%</div>
              </div>
              <img
                class="chart-state-1-icon1"
                alt=""
                src="./public/chartstate-11@2x.png"
              />
            </div>
          </div>
          <div class="coin-trend-item1">
            <div class="coin-info1">
              <div class="coin-icon-group">
                <img
                  class="coin-icon1"
                  alt=""
                  src="./public/coinicon2@2x.png"
                />

                <div class="usdt">ETH</div>
                <div class="bitcoin-frame">
                  <div class="usdt">ETHEREUM</div>
                </div>
              </div>
              <div class="see-more-ic1">
                <div class="see-more-ic-inner"></div>
                <img class="vector-icon" alt="" src="./public/vector-31.svg" />
              </div>
            </div>
            <div class="divider1"></div>
            <div class="coin-value1">
              <div class="group">
                <b class="b">$4,267.90</b>
                <div class="div2">2.22%</div>
              </div>
              <img
                class="chart-state-1-icon1"
                alt=""
                src="./public/chartstate-12@2x.png"
              />
            </div>
          </div>
          <div class="coin-trend-item1">
            <div class="coin-info1">
              <div class="coin-icon-group">
                <img
                  class="coin-icon1"
                  alt=""
                  src="./public/coinicon3@2x.png"
                />

                <div class="usdt">BNB</div>
                <div class="bitcoin-frame">
                  <div class="usdt">BINANCE</div>
                </div>
              </div>
              <div class="see-more-ic1">
                <div class="see-more-ic-inner"></div>
                <img class="vector-icon" alt="" src="./public/vector-31.svg" />
              </div>
            </div>
            <div class="divider1"></div>
            <div class="coin-value1">
              <div class="group">
                <b class="b">$587.74</b>
                <div class="div2">0.82%</div>
              </div>
              <img
                class="chart-state-1-icon1"
                alt=""
                src="./public/chartstate-13@2x.png"
              />
            </div>
          </div>
          <div class="coin-trend-item4">
            <div class="coin-info1">
              <div class="coin-icon-group">
                <img
                  class="coin-icon1"
                  alt=""
                  src="./public/coinicon4@2x.png"
                />

                <div class="usdt">USDT</div>
                <div class="bitcoin-frame">
                  <div class="usdt">TETHER</div>
                </div>
              </div>
              <div class="see-more-ic1">
                <div class="see-more-ic-inner"></div>
                <img class="vector-icon" alt="" src="./public/vector-31.svg" />
              </div>
            </div>
            <div class="divider1"></div>
            <div class="coin-value1">
              <div class="group">
                <b class="b">$0.9998</b>
                <div class="div2">0,03%</div>
              </div>
              <img
                class="chart-state-1-icon1"
                alt=""
                src="./public/chartstate-14@2x.png"
              >
            </div>
          </div>
        </div>
      </div>
      <div class="rectangle-parent">
        <div class="group-child"></div>
        <div class="our-community-is-building-a-co-parent">
          <div class="our-community-is">
            Our community is building a comprehensive decentralized trading
            platform for the future of .....
          </div>
          <div class="copyright-eascor">
            Copyright ©  EASCOR 2023. All rights reserved.
          </div>
          <div class="swap-parent">
            <button class="swap" onclick="window.location.href='/services/swap'">Swap</button>
            <button class="nft" onclick="window.location.href='/services/nft'">NFT</button>
            <button class="pool" onclick="window.location.href='/services/pool'">Pool</button>
            <button class="farms" onclick="window.location.href='/services/farms'">Farms</button>
            <button class="audit-by-ib" onclick="window.location.href='/services/auditbyib'">Audit by IB</button>
            <button class="services" onclick="window.location.href='/services'">Services</button>
          </div>
          <div class="about-us-parent">
            <a class="about-us">About Us</a>
            <a class="customer-support">Customer Support</a>
            <a class="eascordao">EASCORDAO</a>
            <a class="faq">FAQ</a>
            <a class="services">Help</a>
          </div>
          <div class="terms-of-use-parent">
            <a class="terms-of-use">Terms of Use</a>
            <a class="privacy-policy">Privacy Policy</a>
            <a class="trademark-policy">Trademark Policy</a>
            <a class="security">Security</a>
            <a class="services">Legal</a>
          </div>
          <a type="button" class="twitter-icon"><img alt="Twitter" src="./images1/Twitter (1).png" ></a>

          <a class="discord-icon"><img alt="Discord" src="./images1/Discord (1).png" ></a>
          <a class="telegram-app-icon" href="https://web.telegram.org/"><img alt="TelegramApp" src="./images1/Telegram App.png"></a>
        </div>
        <img
          class="brand"
          alt=""
          src="./images/1693245820948.png"
        >
      </div>
      <div class="rectangle-group">
            <div class="group-item"></div>
        <form class="swapform">
        <div class="frame-wrapper">
          <div class="parent3">
            <input input type="number" min="0" step="1" class="numberinput">
            <img class="frame-child" alt="" src="./images1/BTC.png" >
          </div>
        </div>
        <div class="frame-container">
          <div class="parent4">
            <div class="div6"></div>
            <img class="frame-child" alt="" src="./images1/tether.png" >
          </div>
        </div>
        <div class="pay">Pay</div>
        <b class="exchange">Exchange</b>
        <div class="btc-parent">
          <div class="usdt">
            <span>1</span>
            <span class="span"> </span>
            <span class="btc6">BTC</span>
          </div>
          <img
            class="remix-iconslinesystemarrow-1"
            alt=""
            src="./images1/arrow_icon.png"
          >

          <div class="usdt">
            <span>52,415.31 </span>
            <span class="btc6">USDT</span>
          </div>
        </div>
          <button type="submit" class="refresh_icon"
          alt="refresh_icon"><img class="ri"
            src="./images1/refresh.png"></button>

        <div class="group-wrapper">
          <div class="rectangle-container0">
            <button type="submit" class="exchange1">Exchange</button>
          </div>
        </div>
      </form>
      <form class="liquidityform">
        <div class="addliquidity">Add Liquidity</div>
        <div class="rectangle-group0">
            <div class="fee-tier">1% fee tier</div>
            <div class="choices">94% choices
              <button type="button" class="edit">edit</button>
            </div>
        </div>
        <div class="rightcomponents">
          <div class="CurrentPrice">Current Price: 1847.42</div>
          <input type="number" class="numinput" step="0.01" min="0" value="0">
          <div class="transresult"></div>
          <button type="submit" class="view">View Price Range</button>
        </div>
        <div class="frame-wrapper1">
          <div class="parent3">
            <input input type="number" min="0" step="1" class="numberinput">
            <img class="frame-child" alt="" src="./images1/BTC.png" >
          </div>
        </div>
        <div class="frame-container1">
          <div class="parent4">
            <div class="div6"></div>
            <img class="frame-child" alt="" src="./images1/tether.png" >
          </div>
        </div>
        <div class="pay">Pay</div>
          <button type="submit" class="refresh_icon"
          alt="refresh_icon"><img class="ri"
            src="./images1/refresh.png"></button>

          <div class="rectangle-container01">
            <button type="submit" class="continue">Continue</button>
          </div>
      </form>
        <div class="group-div">
          <div class="group-child1"></div>
          <button type="button" class="swap1">Swap</button>
        </div>
        <div class="rectangle-parent1">
          <div class="group-child2"></div>
          <button type="button" class="liquidity">Liquidity</button>
        </div> 
      </div>
      <div class="component-1">
        <img
          class="group-1000002766-1-11"
          alt=""
          src="./images1/Group 1000002766 (1) 1 (1).png"
        >

        <button type="button" class="swap_top">SWAP</button>
        <button type="button" class="nft_top">NFT</button>
        <div class="group-container">
            <div class="rectangle-container">
              <div class="group-child25"></div>
            </div>
            <img class="search-icon" alt="" src="./images1/search-icon.png" >
            <div class="search-collections-wallets">
              <input type="search" id="searchbox"  placeholder="Search collections, wallets, chains">
            </div>
          </div>
          <button type="button" class="connect-wallet">Connect Wallet</button>
          <button type="button" class="twitter-icon1"><img src="images1/Twitter.png" alt="Twitter"></button>
          <button type="button" class="discord-icon1"><img src="images1/Discord.png" alt="Discord"></button>

        <img class="icon1" alt="" src="./images1/4311678769667_ 2.png">
      </div>
    </div>
  </body>
</html>
