@font-face {
  font-family: 'Fontquan-XinYilogoTi';
  src: url('/fonts/Fontquan-XinYiGuanHeiTi_Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Mulish';
  src: url('/fonts/Mulish-Regular.ttf') format('truetype');
}
.desktop-1-child {
    position: relative;
    height: 116.01%;
    width: 154.93%;
    top: 0;
    right: -54.93%;
    bottom: -16.01%;
    left: 0;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .desktop-1-item {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(rgba(14, 17, 24, 0.6), rgba(14, 17, 24, 0.6)),
      linear-gradient(
        262.75deg,
        rgba(176, 106, 255, 0.2),
        rgba(82, 117, 254, 0.2)
      );
  }
  .gotodesktop2{
    position:relative;
    left:20%;
    color:white;
  }
  .group-child,
  .group-item {
    position:absolute;
    height: 22.17%;
    width: 12.38%;
    top: 51.66%;
    bottom: 26.16%;
    border-radius: var(--br-11xl);
  }
  .group-child {
    right: 43.81%;
    left: 43.81%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
  }
  .group-item {
    right: 58.42%;
    left: 29.21%;
  }
  .group-inner,
  .group-item,
  .rectangle-icon {
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
  }
  .group-inner {
    position: absolute;
    height: 22.17%;
    width: 12.38%;
    top: 51.66%;
    right: 73.02%;
    bottom: 26.16%;
    left: 14.6%;
    border-radius: var(--br-11xl);
  }
  .rectangle-icon {
    right: 82.18%;
    left: 5.45%;
  }
  #left1{
    /* Rectangle 2977 */

    box-sizing: border-box;

    position: absolute;
    left: -0.11%;
    right: 92.22%;
    top: 51.15%;
    bottom: 76.16%;


    border: 5px solid rgba(255, 255, 255, 0.04);
    border-radius: 30px;
  }
  #left2{
    /* Rectangle 2982 */

    box-sizing: border-box;
    position: absolute;
    left: -0.11%;
    right: 92.22%;
    top: 77.86%;
    bottom: 69.46%;

    border: 5px solid rgba(255, 255, 255, 0.04);
    border-radius: 30px;
  }
  .group-child1,
  .group-child2,
  .rectangle-icon {
    position: absolute;
    height: 22.17%;
    width: 12.38%;
    top: 51.66%;
    bottom: 26.16%;
    border-radius: var(--br-11xl);
  }
  .group-child1 {
    right: 29.21%;
    left: 58.42%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
  }
  .group-child2 {
    right: 14.6%;
    left: 73.02%;
  }
  .group-child2,
  .group-child3,
  .group-child4,
  .group-child5 {
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
  }
  .group-child3 {
    position: absolute;
    height: 22.17%;
    width: 12.38%;
    top: 51.66%;
    right: 0;
    bottom: 26.16%;
    left: 87.62%;
    border-radius: var(--br-11xl);
  }
  .group-child4,
  .group-child5 {
    top: 77.83%;
    bottom: 0;
  }
  .group-child4 {
    position: absolute;
    height: 22.17%;
    width: 12.38%;
    right: 43.81%;
    left: 43.81%;
    border-radius: var(--br-11xl);
  }
  .group-child5 {
    right: 58.42%;
    left: 29.21%;
  }
  .group-child5,
  .group-child6,
  .group-child7 {
    position: absolute;
    height: 22.17%;
    width: 12.38%;
    border-radius: var(--br-11xl);
  }
  .group-child6 {
    top: 77.83%;
    right: 73.02%;
    bottom: 0;
    left: 14.6%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
  }
  .group-child7 {
    right: 82.18%;
    left: 5.45%;
  }
  .group-child7,
  .group-child8,
  .group-child9 {
    top: 77.83%;
    bottom: 0;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
  }
  .group-child8 {
    position: absolute;
    height: 22.17%;
    width: 12.38%;
    right: 29.21%;
    left: 58.42%;
    border-radius: var(--br-11xl);
  }
  .group-child9 {
    right: 14.6%;
    left: 73.02%;
  }
  .group-child10,
  .group-child9,
  .rectangle-div {
    position: absolute;
    height: 22.17%;
    width: 12.38%;
    border-radius: var(--br-11xl);
  }
  .group-child10 {
    top: 77.83%;
    right: 0;
    bottom: 0;
    left: 87.62%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
  }
  .rectangle-div {
    top: 0;
    right: 43.81%;
    bottom: 77.83%;
    left: 43.81%;
    background-color: var(--color-gray-100);
    border: 5px solid var(--color-gray-100);
    box-sizing: border-box;
  }
  .group-child11,
  .group-child12,
  .group-child13,
  .group-child14,
  .group-child15,
  .group-child16,
  .group-child17,
  .group-child18,
  .group-child19,
  .group-child20,
  .group-child21,
  .group-child22,
  .group-child23 {
    position: absolute;
    height: 22.17%;
    width: 12.38%;
    top: 0;
    right: 58.42%;
    bottom: 77.83%;
    left: 29.21%;
    border-radius: var(--br-11xl);
    background-color: var(--color-gray-100);
    border: 5px solid var(--color-gray-100);
    box-sizing: border-box;
  }
  .group-child12,
  .group-child13,
  .group-child14,
  .group-child15,
  .group-child16,
  .group-child17,
  .group-child18,
  .group-child19,
  .group-child20,
  .group-child21,
  .group-child22,
  .group-child23 {
    right: 73.02%;
    left: 14.6%;
  }
  .group-child13,
  .group-child14,
  .group-child15,
  .group-child16,
  .group-child17,
  .group-child18,
  .group-child19,
  .group-child20,
  .group-child21,
  .group-child22,
  .group-child23 {
    right: 87.62%;
    left: 0;
  }
  .group-child14,
  .group-child15,
  .group-child16,
  .group-child17,
  .group-child18,
  .group-child19,
  .group-child20,
  .group-child21,
  .group-child22,
  .group-child23 {
    right: 29.21%;
    left: 58.42%;
  }
  .group-child15,
  .group-child16,
  .group-child17,
  .group-child18,
  .group-child19,
  .group-child20,
  .group-child21,
  .group-child22,
  .group-child23 {
    right: 14.6%;
    left: 73.02%;
  }
  .group-child16,
  .group-child17,
  .group-child18,
  .group-child19,
  .group-child20,
  .group-child21,
  .group-child22,
  .group-child23 {
    right: 0;
    left: 87.62%;
  }
  .group-child17,
  .group-child18,
  .group-child19,
  .group-child20,
  .group-child21,
  .group-child22,
  .group-child23 {
    top: 26.16%;
    right: 43.81%;
    bottom: 51.66%;
    left: 43.81%;
  }
  .group-child18,
  .group-child19,
  .group-child20,
  .group-child21,
  .group-child22,
  .group-child23 {
    right: 58.42%;
    left: 29.21%;
  }
  .group-child19,
  .group-child20,
  .group-child21,
  .group-child22,
  .group-child23 {
    right: 73.02%;
    left: 14.6%;
  }
  .group-child20,
  .group-child21,
  .group-child22,
  .group-child23 {
    right: 87.62%;
    left: 0;
  }
  .group-child21,
  .group-child22,
  .group-child23 {
    right: 29.21%;
    left: 58.42%;
  }
  .group-child22,
  .group-child23 {
    right: 14.6%;
    left: 73.02%;
  }
  .group-child23 {
    right: 0;
    left: 87.62%;
  }
  .rectangle-parent {
    position: relative;
    top:2.8%;
    height: 25.63%;
    width: 112.22%;
    margin: 4.91% -6.11% 69.46% -6.11%;
    border-radius: var(--br-11xl);
  }
  .rectangle-wrapper {
    box-shadow: 0 2px 10px rgba(255, 255, 255, 0.05);
  }
  .start-now {

    /* Rectangle 2971 */

    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    cursor: pointer;

    background: linear-gradient(262.75deg, #B06AFF 0%, #5275FE 100%);
    border-radius: 8px;
    font-family: 'Fontquan-XinYilogoTi',sans-serif;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 19px;
    line-height: 30px;
    text-align: center;

    color: #FFFFFF;    
  }
  .group-parent {
    position: absolute;
    height: 1.62%;
    width: 17.99%;
    top: 13.07%;
    right: 41.04%;
    bottom: 85.31%;
    left: 40.97%;
    font-size: 24px;
  }
  .swap-tokens-and {
    margin: 0;
  }
  .swap-tokens-and-container {
    /* Swap Tokens and Trade NFTs All In One Simple Flow */

    position: absolute;
    left: 21.53%;
    right: 21.6%;
    top: 6.48%;
    bottom: 90.23%;

    font-family: 'Fontquan-XinYilogoTi',sans-serif;
    font-style:normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
    text-align: center;

    color: #FFFFFF;

    text-shadow: 0px -10px 30px rgba(255, 255, 255, 0.18), 0px 10px 30px rgba(255, 255, 255, 0.18);

  }
  .marketplace,
  .marketplace1 {
    left: 4.44%;
    font-family: var(--font-fontquan-xinyilogoti);
  }
  .marketplace {
    position: absolute;
    top: 35.71%;
    font-size: 36px;
    text-shadow: 0-10px 30px rgba(255, 255, 255, 0.18),
      0 10px 30px rgba(255, 255, 255, 0.18);
  }
  .marketplace1 {
    cursor:pointer;
    border:none;
    background:transparent;
    margin:0;
    top: 37.98%;
    background: linear-gradient(89.34deg, #5275fe, #b06aff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0-10px 30px rgba(255, 255, 255, 0.02),
      0 10px 30px rgba(255, 255, 255, 0.02);
  }
  .eascor-is-the,
  .marketplace1,
  .top {
    position: absolute;
    font-size: var(--font-size-xl);
  }
  .top {
    cursor:pointer;
    border:none;
    background:transparent;
    margin:0;
    top: 37.98%;
    left: 15.35%;
    font-family: var(--font-fontquan-xinyilogoti);
    color: var(--color-gray-200);
    text-shadow: 0-10px 30px rgba(255, 255, 255, 0.02),
      0 10px 30px rgba(255, 255, 255, 0.02);
  }
  .eascor-is-the {
    width: 68.75%;
    top: 10.54%;
    left: 15.63%;
    text-align: center;
    display: inline-block;
    text-shadow: 0-10px 30px rgba(255, 255, 255, 0.18),
      0 10px 30px rgba(255, 255, 255, 0.18);
  }
  .group-1000002766-1-1 {
    /* Group 1000002766 (1) 1 */

    position: absolute;
    top:0%;
    left: 0.1%;

  }
  .nft,
  .swap {
    /* SWAP */

    box-sizing: border-box;

    position: absolute;
    top:25%;
    left: 17.44%;
  

    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    background:none;
    border:none;
    margin:0;
    padding:0;
    /* identical to box height */
    text-align: center;
    cursor: pointer;
    color: #FFFFFF;


  }
  .nft {
    /* NFT */

    box-sizing: border-box;

    position: absolute;
    left: 25%;
    right: 71.74%;
    padding: 0;
    border:0;
    font-family: 'Mulish';
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    background:none;
    border:none;
    margin:0;
    padding:0;
    cursor: pointer;
    /* identical to box height */
    text-align: center;
    color: #FFFFFF;


  }
  .group-child25,
  .rectangle-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 397px;
    height: 38px;
  }
  .group-child25 {
    border-radius: var(--br-8xs);
    background-color: var(--color-gray-300);
    border: 2px solid var(--color-gray-200);
    box-sizing: border-box;
  }
  .rectangle-container {
    box-shadow: 0 2px 10px rgba(255, 255, 255, 0.05);
  }
  .search-icon {
    position: absolute;
    top: 25%;
    left: 2.5%;
    width: 18px;
    height: 18px;
    overflow: hidden;
    opacity: 0.4;
  }
  #searchbox {
    position: absolute;
    top: 20%;
    left: 10%;
    background-color: transparent;
    width: 345px;
    border: none;
    outline: none;
  }
  #searchbox::placeholder {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    opacity: 0.4;
  }
  input[type="search"] {
    color: #FFFFFF;
    opacity: 1;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
  }
  .group-container {
    position: relative;
    top: 20%;
    left: 35%;
    width: 397px;
    height: 38px;
    font-size: var(--font-size-base);
  }
  .group-child26,


  .connect-wallet {
    /* Rectangle 2971 */
    display: inline-block;
    position: absolute;
    bottom: 30%;
    left: 80%;
    width: 152px;
    height: 38px;
    box-shadow: 0 2px 10px rgba(255, 255, 255, 0.05);
    background: linear-gradient(262.75deg, #B06AFF 0%, #5275FE 100%);
    border-radius: 5px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 800;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    
    cursor:pointer;
  }
  .component-1 {
    position: absolute;
    left: 3.2%;
    height: 2%;
    bottom: 97%;
    width:100%;
    font-size: var(--font-size-base);
  }
  .desktop-1-inner {
    display: block;
    position: absolute;
    top: 40%;
    left: 64px;
    height: 1%;
    width: 100%;
  }
  .all {
    position: relative;
    border: none;
    margin:0;
    background:transparent;
    color:white;
    cursor: pointer;
    top:10%;
    width: 100%;
    font-size:1.1rem;
    font-weight: 800;
    font-family: 'Mulish';
    display: inline-block;
  }
  .group-child27,
  .group-child28,
  .group-child29,
  .group-child30,
  .group-child31,
  .group-child32 {
    position: absolute;
    top:0;
    width: 4%;
    height: 100%;
    border-radius: var(--br-8xs);
    background-color: var(--color-gray-400);
    border: 2px solid rgba(233, 233, 233, 0.1);
    box-shadow: 0 2px 10px rgba(255, 255, 255, 0.05);
    box-sizing: border-box;
  }
  .group-child28{
    left: 6%;
  }
  .group-child29 {
    width:5%;
    left:12%;
  }
  .group-child30 {
    width:6.7%;
    left:19%;
  }
  .group-child31 {
    width:5%;
    left:27.5%;
  }
  .group-child32 {
    width:8%;
    left:34%;
  }
  .desktop-1-child1 {
    position: absolute;
    top: 1371px;
    left: 66px;
    border-radius: var(--br-3xs);
    background: linear-gradient(
      89.38deg,
      #5275fe,
      #b06aff 99.99%,
      rgba(217, 217, 217, 0)
    );
    width: 127px;
    height: 3px;
  }
  .collection,
  .order,
  .recent-turbulance {
    position: absolute;
    width: 3%;
    top: 48.28%;
    left: 0.15%;
    font-weight: 800;
    display: inline-block;
  }
  .collection,
  .recent-turbulance {
    width: 4.73%;
    left: 4.5%;
  }
  .recent-turbulance {
    width: 9.22%;
    left: 30.11%;
  }
  .d-change,
  .d-change1,
  .d-volume,
  .d-volume1,
  .floor-price,
  .owners,
  .supply {
    position: absolute;
    width: 5.56%;
    top: 48.28%;
    left: 44.89%;
    font-weight: 800;
    display: inline-block;
  }
  .d-change,
  .d-change1,
  .d-volume,
  .d-volume1,
  .owners,
  .supply {
    width: 5.95%;
    left: 53.28%;
  }
  .d-change1,
  .d-volume,
  .d-volume1,
  .owners,
  .supply {
    left: 70.96%;
  }
  .d-change1,
  .d-volume1,
  .owners,
  .supply {
    width: 5.87%;
    left: 62.2%;
  }
  .d-volume1,
  .owners,
  .supply {
    left: 79.8%;
  }
  .owners,
  .supply {
    width: 4.04%;
    left: 88.64%;
  }
  .supply {
    width: 3.81%;
    left: 95.5%;
  }
  .group-child33 {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--br-3xs);
    background-color: rgba(233, 233, 233, 0.05);
    width: 1312px;
    height: 2px;
  }
  .order-parent {
    position: absolute;
    height: 0.82%;
    width: 91.11%;
    top: 41.73%;
    right: 4.44%;
    bottom: 57.44%;
    left: 4.44%;
    text-align: left;
    font-size: var(--font-size-xs);
    color: var(--color-whitesmoke-100);
  }
  .group-child34 {
    position: absolute;
    height: 77.78%;
    width: 71.79%;
    top: 0;
    right: 12.82%;
    bottom: 22.22%;
    left: 15.38%;
    border-radius: var(--br-3xs);
    background: linear-gradient(
      262.75deg,
      rgba(176, 106, 255, 0.5),
      rgba(82, 117, 254, 0.5)
    );
  }
  .div {
    position: absolute;
    height: 94.44%;
    width: 100%;
    top: 5.56%;
    left: 0;
    font-weight: 800;
    display: inline-block;
  }
  .group-wrapper,
  .rectangle-group {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .group-wrapper {
    height: 56.25%;
    width: 2.87%;
    top: 28.13%;
    right: 97.13%;
    bottom: 15.63%;
    text-align: center;
    font-size: var(--font-size-lg);
  }
  .bored-ape-yacht {
    position: absolute;
    width: 16.21%;
    top: 35.94%;
    left: 11.05%;
    font-weight: 800;
    display: inline-block;
  }
  .eth1 {
    font-size: var(--font-size-3xs);
  }
  .div1,
  .div2,
  .div3,
  .div4,
  .eth,
  .eth2,
  .eth4 {
    position: absolute;
    width: 7.22%;
    top: 35.94%;
    left: 43.85%;
    font-weight: 800;
    display: inline-block;
  }
  .div1,
  .div2,
  .div3,
  .div4,
  .eth2,
  .eth4 {
    width: 7.15%;
    left: 69.05%;
  }
  .div1,
  .div2,
  .div3,
  .div4,
  .eth4 {
    left: 77.6%;
  }
  .div1,
  .div2,
  .div3,
  .div4 {
    width: 7.07%;
    left: 86.15%;
  }
  .div2,
  .div3,
  .div4 {
    width: 7.22%;
    left: 92.78%;
  }
  .div3,
  .div4 {
    left: 51.95%;
    color: var(--color-crimson);
  }
  .div4 {
    width: 7.15%;
    left: 60.57%;
  }
  .ellipse-icon {
    position: absolute;
    top: 0;
    left: 65px;
    border-radius: 50%;
    width: 64px;
    height: 64px;
    object-fit: cover;
  }
  .group-icon,
  .group-parent7 {
    position: absolute;
    top: 10.5px;
    left: 400.5px;
    width: 143px;
    height: 50.2px;
  }
  .group-parent7 {
    height: 1.82%;
    width: 94.24%;
    top: 43.35%;
    right: 1.74%;
    bottom: 54.83%;
    left: 4.03%;
    text-align: left;
  }
  .mutant-ape-yacht {
    position: absolute;
    width: 16.8%;
    top: 35.94%;
    left: 11.05%;
    font-weight: 800;
    display: inline-block;
  }
  .group-parent8 {
    position: absolute;
    height: 1.82%;
    width: 94.24%;
    top: 45.97%;
    right: 1.74%;
    bottom: 52.22%;
    left: 4.03%;
    text-align: left;
  }
  .degods {
    position: absolute;
    width: 6.93%;
    top: 35.94%;
    left: 11.05%;
    font-weight: 800;
    display: inline-block;
  }
  .group-parent10,
  .group-parent9 {
    position: absolute;
    height: 1.82%;
    width: 94.24%;
    top: 48.58%;
    right: 1.74%;
    bottom: 49.6%;
    left: 4.03%;
    text-align: left;
  }
  .group-parent10 {
    top: 51.19%;
    bottom: 46.99%;
  }
  .god-hates-nftees {
    position: absolute;
    width: 13.26%;
    top: 35.94%;
    left: 11.05%;
    font-weight: 800;
    display: inline-block;
  }
  .group-parent11 {
    position: absolute;
    height: 1.82%;
    width: 94.24%;
    top: 53.81%;
    right: 1.74%;
    bottom: 44.38%;
    left: 4.03%;
    text-align: left;
  }
  .desktop-1 {
    position: relative;
    background-color: #0e1118;
    width: 100%;
    height: 3520px;
    text-align: center;
    font-size: var(--font-size-base);
    color: var(--color-white);
    overflow:hidden;
  }
  